@charset "utf-8";
/* CSS reset */
html, body, div, a, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, table, th, td
{
    margin: 0;
    padding: 0;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img
{
    border: none;
}

#main_menu .menu_tab
{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 5px;
}

    #main_menu .menu_tab a
    {
        font-family: brandon;
        text-decoration: none;
        color: #393c44;
        font-size: 18px;
    }

#banner h1
{
    font-family: envoy !important;
}

#banner_lg_Text
{
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 75px;
    letter-spacing: -1.4px;
}

#fadeInUp
{
    webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#animated
{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
}

#right_side_banner
{
    padding-left: 25px;
    padding-right: 30px;
}

    #right_side_banner h2
    {
        font-family: Envoy;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 40px;
    }

    #right_side_banner .prod_desc
    {
        font-family: envoy_sans;
        font-size: 17px;
        margin: 0 0 1em;
        padding: 0;
        color: #393c44;
        font-weight: 100;
        line-height: 1.5;
    }

#prod_desc_video
{
    display: inline-block;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.175);
    box-shadow: 0 15px 10px rgba(0,0,0,0.175);
    border-color: #eee;
    margin-bottom: 1px;
}

#feature_banner
{
    background: rgba(85, 148, 155,1);
    color: #fff;
}

    #feature_banner h1
    {
        font-family: Envoy;
        padding: 25px;
    }

#footer
{
    margin-top: 50px;
}

#footer_msg
{
    font-family: envoy_sans;
}